{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'home' %}">Receipts</a>
                </li>
                <li>
                    <a href="{% url 'category_list' %}">Category</a>
                </li>
                <li>
                    <a href="{% url 'account_list' %}">Account</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                <li>
                    <a href="{% url 'create_receipt' %}">New Receipt</a>
                </li>
                <li>
                    <a href="{% url 'category_new' %}">New Category</a>
                </li>
                <li>
                    <a href="{% url 'create_account' %}">New Account</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'signup' %}">Sign Up</a>
                </li>
                {% endif %}
                {% if user.is_staff %}
                <li>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}
</body>

</html>